# Welcome to the Notebook

### Importing modules

### Task 1

In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt 
print('modules are imported')

modules are imported

### Task 1.1: 
#### Loading the Dataset

In [3]:
dataset_url='https://raw.githubusercontent.com/datasets/covid-19/master/data/countries-aggregated.csv'
df=pd.read_csv(dataset_url)

### Task 1.2:
#### let's check the dataframe

In [4]:
df.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0

In [5]:
df.tail()

              Date   Country  Confirmed  Recovered  Deaths
161563  2022-04-12  Zimbabwe     247094          0    5460
161564  2022-04-13  Zimbabwe     247160          0    5460
161565  2022-04-14  Zimbabwe     247208          0    5462
161566  2022-04-15  Zimbabwe     247237          0    5462
161567  2022-04-16  Zimbabwe     247237          0    5462

#### let's check the shape of the dataframe

In [6]:
df.shape

(161568, 5)

### Task 2.1 :
#### let's do some preprocessing

In [8]:
df = df[df.Comfirmed > 0]

AttributeError: 'DataFrame' object has no attribute 'Comfirmed'

In [ ]:
df.head()

#### let's see data related to a country for example Italy

In [ ]:
df[df.Country == 'Italy']

#### let's see Global spread of Covid19

In [ ]:
fig = px.choropleth(df, locations='Country', locationmode='country names',
                    color='Confirmed', animation_frame='Date')
fig.update_layout(title_text='Global Spread of COVID-19')
fig.show()

### Task 2.2 : Exercise 
#### Let's see Global deaths of Covid19

In [ ]:
fig = px.choropleth(df, locations='Country', locationmode='country names',
                    color='Deaths', animation_frame='Date')
fig.update_layout(title_text='Global Deaths of COVID-19')
fig.show()

### Task 3.1:
#### Let's Visualize how intensive the Covid19 Transmission has been in each of the country
let's start with an example:

In [9]:
df_china = df[df.Country == 'China']
df_china.head()

             Date Country  Confirmed  Recovered  Deaths
30192  2020-01-22   China        548         28      17
30193  2020-01-23   China        643         30      18
30194  2020-01-24   China        920         36      26
30195  2020-01-25   China       1406         39      42
30196  2020-01-26   China       2075         49      56

let's select the columns that we need

In [ ]:
df_china = df_china[['Date', 'Confirmed']]

In [ ]:
df_china.head()

calculating the first derivation of confrimed column

In [ ]:
df_china['Infection Rate'] = df_china['Confirmed'].diff

In [ ]:
df_china.head()

In [ ]:
px.line(df_china, x = 'Date', y = ['Confirmed', 'Infection Rate'])

In [ ]:
df_china['Infection Rate'].max

### Task 3.2:
#### Let's Calculate Maximum infection rate for all of the countries

In [ ]:
df.head()

In [ ]:
countries = list(df['Country'].uniqueque())
max_infection_rates = []

for c in countries:
    MIR = df[df.Country == c].Confirmed.diff().max()
    max_infection_rates.append(MIR)

### Task 3.3:
#### let's create a new Dataframe

In [ ]:
df_MIR = df.DataFrame()
df_MIR['Country'] = countries
df_MIR['Max Infection Rate'] = max_infection_rates
df_MIR.head()

#### Let's plot the barchart : maximum infection rate of each country

In [ ]:
px.bar(df_MIR, x = 'Country', y = 'Max Infection Rate', color = 'Country',
       title = 'Global Maximum Infection Rate', log_y=True)

### Task 4: Let's See how National Lockdowns Impacts Covid19 transmission in Italy

### COVID19 pandemic lockdown in Italy 
On 9 March 2020, the government of Italy under Prime Minister Giuseppe Conte imposed a national quarantine, restricting the movement of the population except for necessity, work, and health circumstances, in response to the growing pandemic of COVID-19 in the country. <a href="https://en.wikipedia.org/wiki/COVID-19_pandemic_lockdown_in_Italy#:~:text=On%209%20March%202020%2C%20the,COVID%2D19%20in%20the%20country.">source</a>

In [ ]:
italy_lockdown_start_date = '2020-03-09'
italy_lockdown_a_month_later = '2020-04-09'

In [ ]:
df.head()

let's get data related to italy

In [ ]:
df_italy = df[df.Country == 'Italy']

lets check the dataframe

In [ ]:
df_italy.head()

let's calculate the infection rate in Italy

In [ ]:
df_italy['Infection Rate'] = df_italy['Confirmed'].diff
df_italy.head()

ok! now let's do the visualization

In [ ]:
fig = px.bar(df_italy, x = 'Date', y = 'Infection Rate',
             title = 'Before and After Lockdown in Italy')

fig.add_annotation(
    dic(
        x = italy_lockdown_start_date,
        y = df_italy['Infection Rate'].max(),
        text = 'Starting date of the lockdown'
    )
)

fig.add_shape(
    dic(
        type='line',
        x0 = italy_lockdown_start_date,
        y0 = 0,
        x1 = italy_lockdown_start_date,
        y1 = df_italy['Infection Rate'].max(),
        line = dict(color='red', width=2)
    )
)

fig.add_annotation(
    dic(
        x = italy_lockdown_a_month_later,
        y = 0,
        text = 'A Month Later'
    )
)

### Task 5: Let's See how National Lockdowns Impacts Covid19 active cases in Italy

In [ ]:
df_italy.head()

let's calculate number of active cases day by day

In [ ]:
df_italy['Deaths Rate'] = df_italy.Deaths.diff

let's check the dataframe again

In [ ]:
df_italy.head()

now let's plot a line chart to compare COVID19 national lockdowns impacts on spread of the virus and number of active cases

In [ ]:
fig = px.line(df_italy, x = 'Date', y = ['Infection Rate', 'Deaths Rate'])
fig.show()

let's normalize the columns

In [ ]:
df_italy['Infection Rate'] = df_italy['Infection Rate'] / df_italy['Infection Rate'].max()
df_italy['Deaths Rate'] = df_italy['Deaths Rate'] / df_italy['Deaths Rate'].max()

let's plot the line chart again

In [ ]:
fig = px.line(df_italy, x = 'Date', y = ['Infection Rate', 'Deaths Rate'])
fig.show()

### COVID19 pandemic lockdown in Germany 
Lockdown was started in Freiburg, Baden-WÃ¼rttemberg and Bavaria on 20 March 2020. Three days later, it was expanded to the whole of Germany

In [ ]:
Germany_lockdown_start_date = '2020-03-23' 
Germany_lockdown_a_month_later = '2020-04-23'

let's select the data related to Germany

In [ ]:
df_germany = df[df.Country == 'Germany']

let's check the dataframe

In [ ]:
df_germany.head()

selecting the needed column

let's check it again

let's calculate the infection rate in Germany

In [ ]:
df_germany['Infection Rate'] = df_germany['Infection Rate'] / df_germany['Infection Rate'].max()
df_germany['Deaths Rate'] = df_germany['Deaths Rate'] / df_germany['Deaths Rate'].max()

let's check the dataframe

now let's plot the line chart

let's do some scaling

let's plot the line chart