<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [2]:
!pip install pandas
!pip install matplotlib

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 12.2 MB/s eta 0:00:00
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.2.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.0/62.0 kB 5.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 105.9 MB/s eta 0:00:0000:010:01
Downloading numpy-2.2.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 106.3 MB/s eta 0:00:0000:0100:01
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 41.8 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.1 pandas-2.2.3 tzdata-2024.2
Collecting matplotlib
  Downloading matplotlib-3.10.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.55.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (165 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 165.1/165.1 kB 20.8 MB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.8-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.2 kB)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (2.2.1)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (24.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.1.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (2.9.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.10.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 117.9 MB/s eta 0:00:0000:0100:01
Downloading contourpy-1.3.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (326 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 326.2/326.2 kB 46.3 MB/s eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.55.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 94.2 MB/s eta 0:00:00:00:01
Downloading kiwisolver-1.4.8-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 92.3 MB/s eta 0:00:00
Downloading pillow-11.1.0-cp311-cp311-manylinux_2_28_x86_64.whl (4.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 101.9 MB/s eta 0:00:0000:01
Downloading pyparsing-3.2.1-py3-none-any.whl (107 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 107.7/107.7 kB 15.6 MB/s eta 0:00:00
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.55.3 kiwisolver-1.4.8 matplotlib-3.10.0 pillow-11.1.0 pyparsing-3.2.1

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [3]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [4]:
# Write your code here

print("Dataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB
None

In [5]:
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [6]:
# Write your code here

print("\nSummary statistics for numerical columns:")
print(df.describe())

Summary statistics for numerical columns:
         ResponseId      CompTotal       WorkExp  JobSatPoints_1  \
count  65437.000000   3.374000e+04  29658.000000    29324.000000
mean   32719.000000  2.963841e+145     11.466957       18.581094
std    18890.179119  5.444117e+147      9.168709       25.966221
min        1.000000   0.000000e+00      0.000000        0.000000
25%    16360.000000   6.000000e+04      4.000000        0.000000
50%    32719.000000   1.100000e+05      9.000000       10.000000
75%    49078.000000   2.500000e+05     16.000000       22.000000
max    65437.000000  1.000000e+150     50.000000      100.000000

       JobSatPoints_4  JobSatPoints_5  JobSatPoints_6  JobSatPoints_7  \
count    29393.000000    29411.000000    29450.000000     29448.00000
mean         7.522140       10.060857       24.343232        22.96522
std         18.422661       21.833836       27.089360        27.01774
min          0.000000        0.000000        0.000000         0.00000
25%          0.000000        0.000000        0.000000         0.00000
50%          0.000000        0.000000       20.000000        15.00000
75%          5.000000       10.000000       30.000000        30.00000
max        100.000000      100.000000      100.000000       100.00000

       JobSatPoints_8  JobSatPoints_9  JobSatPoints_10  JobSatPoints_11  \
count    29456.000000    29456.000000     29450.000000     29445.000000
mean        20.278165       16.169432        10.955713         9.953948
std         26.108110       24.845032        22.906263        21.775652
min          0.000000        0.000000         0.000000         0.000000
25%          0.000000        0.000000         0.000000         0.000000
50%         10.000000        5.000000         0.000000         0.000000
75%         25.000000       20.000000        10.000000        10.000000
max        100.000000      100.000000       100.000000       100.000000

       ConvertedCompYearly        JobSat
count         2.343500e+04  29126.000000
mean          8.615529e+04      6.935041
std           1.867570e+05      2.088259
min           1.000000e+00      0.000000
25%           3.271200e+04      6.000000
50%           6.500000e+04      7.000000
75%           1.079715e+05      8.000000
max           1.625660e+07     10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [7]:
# Write your code here

print("Unique values in 'Country' column:")
print(df['Country'].unique())

print(df['Country'].value_counts())

Unique values in 'Country' column:
['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']
Country
United States of America                                11095
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
Ukraine                                                  2672
                                                        ...
Micronesia, Federated States of...                          1
Nauru                                                       1
Chad                                                        1
Djibouti                                                    1
Solomon Islands                                             1
Name: count, Length: 185, dtype: int64

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [8]:
## Write your code here

df['Country'] = df['Country'].str.strip().str.title()

# Standardize entries in the 'EdLevel' column
df['EdLevel'] = df['EdLevel'].str.strip().str.title()

# Verify the changes
print(df['Country'].value_counts())
print(df['EdLevel'].value_counts())

Country
United States Of America                                11095
Germany                                                  4947
India                                                    4231
United Kingdom Of Great Britain And Northern Ireland     3224
Ukraine                                                  2672
                                                        ...
Micronesia, Federated States Of...                          1
Nauru                                                       1
Chad                                                        1
Djibouti                                                    1
Solomon Islands                                             1
Name: count, Length: 185, dtype: int64
EdLevel
Bachelor’S Degree (B.A., B.S., B.Eng., Etc.)                                          24942
Master’S Degree (M.A., M.S., M.Eng., Mba, Etc.)                                       15557
Some College/University Study Without Earning A Degree                                 7651
Secondary School (E.G. American High School, German Realschule Or Gymnasium, Etc.)     5793
Professional Degree (Jd, Md, Ph.D, Ed.D, Etc.)                                         2970
Associate Degree (A.A., A.S., Etc.)                                                    1793
Primary/Elementary School                                                              1146
Something Else                                                                          932
Name: count, dtype: int64

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [9]:
## Write your code here

df_encoded = pd.get_dummies(df, columns=['Employment'], prefix='Employment')

# Display the first few rows of the encoded DataFrame
print("\nFirst few rows after one-hot encoding:")
print(df_encoded.head())

First few rows after one-hot encoding:
   ResponseId                      MainBranch                 Age RemoteWork  \
0           1  I am a developer by profession  Under 18 years old     Remote
1           2  I am a developer by profession     35-44 years old     Remote
2           3  I am a developer by profession     45-54 years old     Remote
3           4           I am learning to code     18-24 years old        NaN
4           5  I am a developer by profession     18-24 years old        NaN

    Check                                   CodingActivities  \
0  Apples                                              Hobby
1  Apples  Hobby;Contribute to open-source projects;Other...
2  Apples  Hobby;Contribute to open-source projects;Other...
3  Apples                                                NaN
4  Apples                                                NaN

                                             EdLevel  \
0                          Primary/Elementary School
1       Bachelor’S Degree (B.A., B.S., B.Eng., Etc.)
2    Master’S Degree (M.A., M.S., M.Eng., Mba, Etc.)
3  Some College/University Study Without Earning ...
4  Secondary School (E.G. American High School, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  \
0                                                NaN
1  Technical documentation;Blogs;Books;Written Tu...
2  Technical documentation;Blogs;Books;Written Tu...
3  Stack Overflow;How-to videos;Interactive tutorial
4  Technical documentation;Blogs;Written Tutorial...

                                             TechDoc  ...  \
0                                                NaN  ...
1  API document(s) and/or SDK document(s);User gu...  ...
2  API document(s) and/or SDK document(s);User gu...  ...
3                                                NaN  ...
4  API document(s) and/or SDK document(s);User gu...  ...

  Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Retired  \
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

  Employment_Student, full-time;Student, part-time  \
0                                            False
1                                            False
2                                            False
3                                            False
4                                            False

  Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Student, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, part-time  \
0                         False
1                         False
2                         False
3                         False
4                         False

  Employment_Student, part-time;Employed, part-time  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False

  Employment_Student, part-time;Retired
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

[5 rows x 223 columns]

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [10]:
## Write your code here

print("\nColumns with the highest number of missing values:")
print(df.isnull().sum().sort_values(ascending=False))

Columns with the highest number of missing values:
AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
                              ...
MainBranch                        0
Age                               0
Employment                        0
Check                             0
ResponseId                        0
Length: 114, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [11]:
## Write your code here

df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].median(), inplace=True)

# Verify the imputation
print("\nMissing values in 'ConvertedCompYearly' after imputation:")
print(df['ConvertedCompYearly'].isnull().sum())

Missing values in 'ConvertedCompYearly' after imputation:
0

/tmp/ipykernel_114/363857785.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].median(), inplace=True)

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [12]:
## Write your code here

df['RemoteWork'].fillna(df['RemoteWork'].mode()[0], inplace=True)

# Verify the imputation
print("\nMissing values in 'RemoteWork' after imputation:")
print(df['RemoteWork'].isnull().sum())

Missing values in 'RemoteWork' after imputation:
0

/tmp/ipykernel_114/425799388.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RemoteWork'].fillna(df['RemoteWork'].mode()[0], inplace=True)

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [13]:
## Write your code here

min_value = df['ConvertedCompYearly'].min()
max_value = df['ConvertedCompYearly'].max()
df['ConvertedCompYearly_MinMax'] = (df['ConvertedCompYearly'] - min_value) / (max_value - min_value)

# Display the first few rows of the normalized column
print("\nFirst few rows of 'ConvertedCompYearly_MinMax':")
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_MinMax']].head())

First few rows of 'ConvertedCompYearly_MinMax':
   ConvertedCompYearly  ConvertedCompYearly_MinMax
0              65000.0                    0.003998
1              65000.0                    0.003998
2              65000.0                    0.003998
3              65000.0                    0.003998
4              65000.0                    0.003998

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [14]:
## Write your code here

df['ConvertedCompYearly_Log'] = np.log1p(df['ConvertedCompYearly'])

# Display the first few rows of the log-transformed column
print("\nFirst few rows of 'ConvertedCompYearly_Log':")
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_Log']].head())

First few rows of 'ConvertedCompYearly_Log':
   ConvertedCompYearly  ConvertedCompYearly_Log
0              65000.0                11.082158
1              65000.0                11.082158
2              65000.0                11.082158
3              65000.0                11.082158
4              65000.0                11.082158

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [18]:
# Count the number of NaN values in 'YearsCodePro'
nan_count = df['YearsCodePro'].isnull().sum()

# Display the result
print(f"Number of NaN values in 'YearsCodePro': {nan_count}")

Number of NaN values in 'YearsCodePro': 13827

In [19]:
# Check the number of missing values in 'YearsCodePro'
missing_years = df['YearsCodePro'].isnull().sum()
total_rows = len(df)
print(f"Missing values in 'YearsCodePro': {missing_years}")
print(f"Percentage of missing values: {(missing_years / total_rows) * 100:.2f}%")

Missing values in 'YearsCodePro': 13827
Percentage of missing values: 21.13%

In [20]:
# Function to convert 'YearsCodePro' to numeric values
def convert_years_code_pro(years):
    if pd.isna(years):  # Handle NaN values
        return np.nan
    elif isinstance(years, str):
        if years == 'Less than 1 year':
            return 0.5  # Assume 0.5 years for "Less than 1 year"
        elif years == 'More than 50 years':
            return 50  # Assume 50 years for "More than 50 years"
        else:
            return float(years)  # Convert numeric strings to float
    else:
        return float(years)  # Convert numeric values to float

# Apply the conversion function to the 'YearsCodePro' column
df['YearsCodePro_numeric'] = df['YearsCodePro'].apply(convert_years_code_pro)

# Verify the conversion
print(df[['YearsCodePro', 'YearsCodePro_numeric']].head(10))

  YearsCodePro  YearsCodePro_numeric
0          NaN                   NaN
1           17                  17.0
2           27                  27.0
3          NaN                   NaN
4          NaN                   NaN
5          NaN                   NaN
6            7                   7.0
7          NaN                   NaN
8          NaN                   NaN
9           11                  11.0

In [21]:
# Calculate the median of the 'YearsCodePro_numeric' column
median_years = df['YearsCodePro_numeric'].median()

# Display the median
print(f"Median of 'YearsCodePro_numeric': {median_years}")

Median of 'YearsCodePro_numeric': 7.0

In [22]:
# Impute missing values with the median
df['YearsCodePro_numeric'].fillna(median_years, inplace=True)

# Verify the result
print(f"Missing values after imputation: {df['YearsCodePro_numeric'].isnull().sum()}")

Missing values after imputation: 0

/tmp/ipykernel_114/4105349670.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['YearsCodePro_numeric'].fillna(median_years, inplace=True)

In [23]:
# Check the distribution of 'YearsCodePro_numeric'
print(df['YearsCodePro_numeric'].describe())

# Check the number of missing values in the final dataset
print(df.isnull().sum())

count    65437.000000
mean         9.532543
std          8.165398
min          0.500000
25%          4.000000
50%          7.000000
75%         12.000000
max         50.000000
Name: YearsCodePro_numeric, dtype: float64
ResponseId                        0
MainBranch                        0
Age                               0
Employment                        0
RemoteWork                        0
                              ...
ConvertedCompYearly               0
JobSat                        36311
ConvertedCompYearly_MinMax        0
ConvertedCompYearly_Log           0
YearsCodePro_numeric              0
Length: 117, dtype: int64

In [24]:
# Create a new column 'ExperienceLevel' based on the numeric 'YearsCodePro' column
def categorize_experience(years):
    if years < 5:
        return 'Junior'
    elif 5 <= years < 10:
        return 'Mid-Level'
    else:
        return 'Senior'

df['ExperienceLevel'] = df['YearsCodePro_numeric'].apply(categorize_experience)

# Display the new column
print(df[['YearsCodePro', 'YearsCodePro_numeric', 'ExperienceLevel']].head(10))

  YearsCodePro  YearsCodePro_numeric ExperienceLevel
0          NaN                   7.0       Mid-Level
1           17                  17.0          Senior
2           27                  27.0          Senior
3          NaN                   7.0       Mid-Level
4          NaN                   7.0       Mid-Level
5          NaN                   7.0       Mid-Level
6            7                   7.0       Mid-Level
7          NaN                   7.0       Mid-Level
8          NaN                   7.0       Mid-Level
9           11                  11.0          Senior

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.