# Welcome to the Practice Task

You've been hired by BookzOn, a growing e-book platform, which has provided a dataset containing the embedding vectors of 14 different e-books. They want to better understand their catalog by grouping these e-books into 3 distinct clusters based on their embedding vectors, which represent various features of the content.

Your task is to use K-Means Clustering to categorize the e-books into 3 groups to help BookzOn optimize their recommendations.

Good luck! 🍀

— Ahmad

Run the following block to install `pyspark` module

In [ ]:
!pip install pyspark

----
Run the following block to import the necessary modules.

**Do not forget to upload the `practice_task_data.csv` into the Google Colab environment.**

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import concat_ws
import pandas as pd
import numpy as np
from pyspark.sql import functions as F
from pyspark.sql.types import ArrayType, FloatType
from pyspark.ml.feature import VectorAssembler, PCA
from pyspark.ml.clustering import KMeans

Create the spark session

In [ ]:
# write your code here

Let's load the dataset `practice_task_data.csv` into a spark dataframe

In [ ]:
df = pd.read_csv("practice_task_data.csv")
# store the feature names
features_column_names = [f"feature_{i}" for i in range(1, 513)]
# update the column names
df.columns = features_column_names
# convert tha pandas dataframe to a spark dataframe
data = spark.createDataFrame(df)

data.show()

Assemble the 512 Embedding Columns into a Single `features` Column using `VectorAssembler`.

Select only the `features` column

 > Use `K-means` clustering to group the articles into 3 groups.